/* Styling for crew container */
.crew-heading{
    text-align: left;
    font-family: 'Hellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: black;
    line-height: 17px;
    margin-bottom: 5%;
   
}
/* Styling for crew container */
.crew-wrapper {
    max-width: 1200px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* Styling for crew container */
.crew-container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin-top: 50px;
    margin-bottom: 60px;
}

/* Styling for crew member */
.crew-member {
    flex: 0 0 auto; /* Ensure each item takes equal space */
    margin: 10px;
    position: relative;
    text-align: center; /* Center the text */
}

/* Styling for crew member image */
.crew-member img {
    display: block;
    width: 400px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove any padding */
    object-fit: cover;
}


/* Styling for crew overlay */
.crew-overlay {
    position: absolute;
    bottom: 20px; /* Add top margin */
    left: 0; /* Align to the left edge of the container */
    transform: translateY(-50%); /* Adjust for vertical centering */
    width: 100%; /* Ensure text spans the entire width of the container */
    color: white; /* Text color */
    font-size: 16px; /* Default font size */
    visibility: hidden; /* Hide by default */
    transition: font-size 0.3s; /* Add transition for smoother effect */
}

/* Styling for crew overlay on hover */
.crew-member:hover .crew-overlay {
    visibility: visible; /* Show text on hover */
    font-size: 25px; /* Increase font size on hover */
}

/* Styling for scrollbar */
.crew-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track */
.crew-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

/* Handle */
.crew-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners */
}

/* Handle on hover */
.crew-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
@media screen and (max-width: 768px) {
    .crew-container {
        margin-left: 0; /* Remove left margin on small screens */
        justify-content: center; /* Center crew members horizontally */
    }
    .crew-heading {
        text-align: center; /* Center the crew heading on small screens */
        margin-left: 0; /* Reset left margin */
    }
   
}

@media screen and (max-width: 768px) {
    .crew-container {
        flex-direction: column; /* Display crew members vertically */
        align-items: center; /* Center crew members horizontally */
        margin-left: 20px;
        margin-right: 20px;
    }
    .crew-member {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 576px) {
    .crew-container {
        flex-direction: column; /* Display crew members vertically */
        align-items: center; /* Center crew members horizontally */
        margin-left: 20px;
        margin-right: 20px;
    }
    .crew-member {
        margin-left: 20px;
        margin-right: 20px;

    }
}