.footer {
  background-color: #0560e0;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  flex: 1;
  padding: 10px;
  min-width: 200px;
  margin: 0 10px;  /* Add equal left and right margins */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column:last-child {
  text-align: left; /* Ensure text is left-aligned */
  align-items: flex-start; /* Ensure items are aligned to the start (left) */
}

.logo {
  width: 100px;
  align-self: center; /* Align logo to the right */
  margin-bottom: 10px;
}

.logo-text2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.social-icon {
  width: 37px;
  height: 37px;
}

.get-in-touch-button,
.free-consultation-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  text-justify: left;
}
