.footer {
  background-color: #0560e0;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  flex: 1;
 
  min-width: 200px;
  margin: 0 10px;  /* Add equal left and right margins */
  text-align: left;
}

.logo {
  width: 100px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.logo-text2{
  font-size: 26px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 50px;
}

.social-icon {
  width: 35px;
  height: 35px;
  gap: 5px;
}

.get-in-touch-button,
.free-consultation-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}
