/* Default styles for desktop */
.header-text-header {
    font-size: 3vw; /* Adjust based on your design */
}

/* Navigation Menu Styles */
.bg-green-yellow {
    background-color: #5d74d6;
    background-image: linear-gradient(120deg, #5f4fbd 0%, #251f75 100%);
}

/* Media Query for Small Screens */
@media only screen and (max-width: 768px) {
    .header-text-header {
        font-size: 5vw; /* Adjust for smaller screens */
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
}
