/* Home Button Styles */
.navbar-logo {
    height: 80px;
    width: auto;
}
.header-text-header {
    font-size: 3vw; 
}


.btn-primary {
    background-color: #5f4fbd; /* Blue background color */
    font-size: 20px;
    position: relative;
    border: 2px solid rgb(195, 195, 207);
    cursor: pointer;
    overflow: hidden;
    color: white; /* Text color */
}

.btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Initially off the screen to the left */
    width: 100%;
    height: 100%;
    background-color: white; /* White slice */
    transition: left 0.3s ease; /* Transition for left position */
    z-index: -1;
}

.btn-primary:hover::before {
    left: 0; /* Slide the white slice in from the left */
}

.btn-primary:hover {
    background-color: white; /* Change background to white on hover */
    color: black; /* Change text color to black on hover */
    z-index: 1;
}

/* Navigation Menu Styles */
.bg-green-yellow {
    background-color: #5d74d6;
    background-image: linear-gradient(120deg, #5f4fbd 0%, #251f75 100%);
}

.text-black {
    color: white;
}

.menu-item {
    margin-right: 15px;
    font-size: 22px;
    font-family: 'Helvetica Neue', sans-serif;
    position: relative;
    text-decoration: none;
}

/* Initially set the ::after pseudo-element to not display */
.menu-item::after {
    display: none;
}

.navbar-nav .nav-link {
    color: black;
}

.navbar {
    background-color: white !important;
}
.navbar-nav .nav-link.active {
    color: black;
}


@media (max-width: 576px) { /* Adjust font size for small screens */
    .header-text-header {
        font-size: 5vw; 
    }
}


@media (max-width: 768px) {
    .navbar-logo {
        margin-left: 10px;
    }
    .header-text-header {
        font-size: 5vw; 
    }

    .menu-item {
        margin-right: 0;
    }

    .btn-primary {
        margin-right: 10px;
    }
}

/* Enable hover line for desktop screens */
@media (min-width: 1200px) {
    .menu-item::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: transparent;
        transition: width 0.1s ease;
        display: block; /* Enable display for desktop screens */
    }

    .menu-item:hover::after {
        width: 100%;
        background-image: linear-gradient(120deg, #8b8da8 0%, #4a3faf 100%);
    }
}
