.industry-container {
    padding: 20px;
    margin: 0 auto; /* Center the container */
    max-width: 1200px; /* Set a max width for the container */
  }
  
  .industry-row {
    display: flex;
    justify-content: space-between; /* Space between the two items */
    margin-bottom: 50px;
  }
  
  .industry-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 48%; /* Adjust width to fit two items per row with spacing */
    padding: 15px;
    color: #fff; /* Set text color to white */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    gap: 10px;
  }
  
  .industry-text {
    flex: 1;
    padding-right: 20px;
  }
  
  .industry-text h3 {
    margin-bottom: 10px;
  }
  
  .industry-text p {
  }
  
  .industry-image {
    flex-shrink: 0;
  }
  
  .industry-image img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
  }
  
  /* Custom radius for items based on their position in the row */
  .left-radius {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .right-radius {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  