.navbar {
    background-color: #0560e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-logo {
    height: 50px;
    width: auto;
}

.logo-text {
    color: white;
    font-size: 2rem;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 5px;
}

.nav-btn {
    background-color: white;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: royalblue;
    border: 2px solid #0560e0;
    border-radius: 5px;
    padding: 7px;
}

.text-black {
    color: white;
}

.menu-item {
    font-size: 17px;
    font-family: 'Helvetica Neue', sans-serif;
    position: relative;
    text-decoration: none;
    gap: 2px;
    margin-right: 3px;
    color: white;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease;
}

/* Ensure active link remains white */
.navbar-nav .nav-link.active {
    color: white;
}

/* Navbar.css */

.navbar-toggler {
    color: white; /* Set the color of the toggler icon */
    background-color: white;
}

/* Hover effect for desktop screens only */
@media (min-width: 1025px) {
    .menu-item::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 92%;
        height: 3px;
        background: white;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom right;
    }

    .menu-item:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-text {
        font-size: 2rem;
        padding: 5px 0;
        text-align: left;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu-item {
        margin: 5px 0;
        font-size: 16px;
    }

    .nav-btn {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        background-color: white;
        color: royalblue;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    .logo-text {
        font-size: 2rem;
        text-align: left;
    }

    .menu-item {
        font-size: 15px;
    }

    .nav-btn {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px;
    }

    .logo-text {
        font-size: 2rem;
        text-align: left;

    }


    .menu-item {
        font-size: 14px;
    }

    .nav-btn {
        font-size: 14px;
    }
}
