/* Partner.css */
@import url('https://fonts.googleapis.com/css2?family=Helix+Sans:wght@400;700&display=swap');

.partner-container {
  margin: 20px auto;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.partner-heading {
  text-align: left;
  font-family: 'Helix Sans', sans-serif;
  margin-bottom: 30px;
}

.partner-row {
  display: flex;
  flex-wrap: wrap; /* Allows the rows to wrap on smaller screens */
  justify-content: space-between;
 
}

.partner-column {
  flex: 1 1 30%; /* Allow columns to take up full width on small screens */
  box-sizing: border-box; /* Include padding in column width */
}

.partner-column h3 {
  font-family: 'Helix Sans', sans-serif;
}

.partner-column p {
  font-size: 16px;
  font-family: 'Helix Sans', sans-serif;
  text-align: justify;
  color: black;
}

@media screen and (max-width: 768px) {
  .partner-column {
    flex-basis: 100%; /* Make columns take full width on smaller screens */
  }
  .partner-column p {
    font-family: 'Helix Sans', sans-serif;
    text-align: justify;
    color: black;
  }
}
