/* Partner.css */
@import url('https://fonts.googleapis.com/css2?family=Helix+Sans:wght@400;700&display=swap');

.partner-container {
  margin: 20px auto;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: black;
  height: auto; /* Change height to auto to accommodate dynamic content */
  padding: 20px; /* Add padding for spacing */
}

.partner-heading {
  text-align: left;
  font-family: 'Helix Sans', sans-serif;
  margin-bottom: 50px;
  color: white;
  margin-left: 50px;
}

.partner-row {
  display: flex;
  flex-wrap: wrap; /* Allows the rows to wrap on smaller screens */
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.partner-column {
  flex: 1 1 30%; /* Allow columns to take up full width on small screens */
  box-sizing: border-box; /* Include padding in column width */
  margin-bottom: 20px; /* Add margin for spacing between columns */
}

.partner-column h3 {
  font-family: 'Helix Sans', sans-serif;
  color: white;
}

.partner-column p {
  font-size: 16px;
  font-family: 'Helix Sans', sans-serif;
  text-align: justify;
  color: white;
}

@media screen and (max-width: 768px) {
  .partner-column {
    flex-basis: 100%; /* Make columns take full width on smaller screens */
  }
  .partner-column p {
    font-family: 'Helix Sans', sans-serif;
    text-align: justify;
    color: white; /* Change text color back to white for smaller screens */
  }
}
