/* Reset default font to ensure consistency */
body {
  font-family: 'Halix Sens-Serif', sans-serif;
  margin: 0;
  padding: 0;
}

.partner-container {
  display: flex;
  flex-direction: column; /* Arrange rows vertically */
  align-items: center; /* Center align items horizontally */
  background-color: black;
  height: auto; /* Set height to auto for responsiveness */
  padding: 20px; /* Add padding for spacing */
  margin-bottom: 30px;
}

.partner-row {
  display: flex;
  flex-wrap: wrap; /* Allow rows to wrap on small screens */
  justify-content: space-around; /* Evenly space columns horizontally */
  margin-bottom: 20px; /* Add some space between rows */

}

.partner-column {
  flex: 1; /* Each column takes equal space */
  max-width: 370px; /* Adjust the width of columns as needed */
  background-color: black;
  color: white;
  box-sizing: border-box; /* Include padding in width calculation */
  text-align: left;
  gap: 40px;
  margin-right: 20px;
 
}

.partner-column h3 {
  margin-top: 0;
  margin-bottom: 30px; /* Add 30px bottom margin after heading */
}

.partner-column p {
  margin-bottom: 0;
  text-align: justify;

}
.partner-heading{
  color: rgb(118,118,118);
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .partner-column {
    flex-basis: calc(100% - 40px); /* Each column takes 100% of the available space with margin */
    text-align: left;
    padding: 20px 0; /* Adjust padding to ensure equal row start and end */
  }
  
.partner-column p {
  text-align: justify;
}

}
