.portfolio-section {
    position: relative;
    overflow: hidden;
    height: auto; /* Set the height to 70vh */
    height: 100vh;
    margin-bottom: 40px;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.portfolio-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 2% 5%; /* Adjust padding for smaller screens */
    margin-top: 5%;
    
}

.portfolio-info {
    text-align: center;
    margin-top: 2%; /* Adjust margin for smaller screens */
}
.portfolio-info {
margin-top: 40px;

}
.portfolio-info h2 {
    font-size: 6vw; /* Responsive font size based on viewport width */
    margin-bottom: 1%; /* Adjust margin for smaller screens */
    color: white;
    margin-top: 20px;
   
}


.portfolio-info p {
    font-size: 2.5vw; /* Responsive font size based on viewport width */
    color: white;
}

.portfolio-info h4 {
    color: white;
    margin-top:20px;
}

.line {
    width: 15%; /* Responsive width based on parent container */
    height: 0.5vw; /* Responsive height */
    background: linear-gradient(120deg, #5f4fbd 0%, #251f75 100%); /* Updated gradient background */
    margin: 2% auto; /* Adjust margin for smaller screens */
}

.portfolio-info:hover .line {
    animation: moveLine 2s forwards;
    background: linear-gradient(120deg, #5f4fbd 0%, #251f75 100%); /* Apply gradient on hover */
}

.portfolio-info:hover h2 {
    animation: updateNumber 2s forwards;
    color: rgb(255, 255, 255); 
}


@keyframes moveLine {
    0% {
        width: 0;
    }
    100% {
        width: 15%; /* Width of the line */
    }
}



@media screen and (min-width: 768px) {
    .portfolio-info h2 {
        font-size: 4.5em; /* Larger font size for desktop */

    }

    .portfolio-info p {
        font-size: 1.5em; /* Larger font size for desktop */
    }

    .line {
        width: 10%; /* Larger width for desktop */
        height: 0.3em; /* Adjusted height for desktop */
        margin: 1% auto; /* Adjusted margin for desktop */
    }
}
