.project_details-container {
  color: black;
}

.project_item {
  position: relative;
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.project_video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  margin-bottom: 50px;
  margin-top: 50px;
}

.project_video_heading {
  position: absolute;
  top: 3%; /* Adjust these values as needed */
  left: 5%; /* Adjust these values as needed */
  color: white; /* Adjust the color for better visibility */
  font-family: sans-serif;
  font-size: 45px; /* Increased font size */
}

.project_video_text {
  position: absolute;
  top: 7%; /* Adjust these values as needed */
  left: 5%; /* Adjust these values as needed */
  color: white; /* Adjust the color for better visibility */
  font-family: sans-serif;
  font-size: 25px; /* Increased font size */
}

.project_video_heading,
.project_video_text {
  width: 50%; /* Ensure the text doesn't overflow */
}

.project_problem_heading,
.project_process_heading,
.project_solution_heading,
.project_about_text,
.project_problem_text,
.project_process_text,
.project_solution_text {
  text-align: justify;
  color: black;
  font-family: sans-serif;
}

.project_about_heading {
  font-size: 40px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.project_image_text {
  font-size: 40px;
  color: black;
  margin-top: 15px;
  font-family: sans-serif;
}

/* Images */
.project_image {
  margin-top: 40px;
  display: block;
  width: 100%;
  height: 500px;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Images in two columns */
.project_item .row .col-md-6 .project_image {
  margin-bottom: 0;
}
