/* Reward.css */

/* Container for the rewards */
.reward-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
}
.reward-heading{
    margin-top: 50px;
    color: black;
    margin-left: 100px;
    font-weight: 600px;
    
}

/* Style for each reward item */
.reward-item {
   
    position: relative;
    flex: 0 0 calc(33.33% - 40px); /* Set width for each item with spacing */
    max-width: calc(33.33% - 40px); /* Limit maximum width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    color: black;
}

/* Image styling */
.reward-image {
    width: 50%; /* Make images fill their container */
    height: auto;
    cursor: pointer;
}

/* Text overlay styling */
/* Text overlay styling */
.reward-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: black;
    display: flex;
    flex-direction: column; /* Display text overlay content in a column */
    justify-content: center;
    text-align: left;
}

/* Style for heading */
.reward-overlay h2 {
    font-size: 24px; /* Set font size for heading */
    color: black;
}

/* Style for paragraph */
.reward-overlay p {
    font-size: 16px; /* Set font size for paragraph */
    color: black;
    
}

/* Text overlay animation on hover */
.reward-item:hover .reward-overlay {
    opacity: 1;
}
