.container-services {
    box-shadow: 0 4px 8px rgba(41, 41, 255, 0.5); /* Blue box shadow */
    padding: 20px;
    border-radius: 8px;
    margin: 60px auto 100px auto; /* Center horizontally and adjust vertical margins */
    max-width: 1200px; /* Optional: Set a max-width for the container */
}

body {
  
    padding: 0 20px; /* Add padding to the body for a gap between body and border */
    box-sizing: border-box; /* Ensure padding is included in the total width/height */
}

.heading {
    color: royalblue;
}

.services-section {
    text-align: center;
    padding: 40px;
    margin-bottom: 20px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center items evenly */
}

.service-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.service-item {
    flex-basis: calc(33.33% - 20px); /* Adjust width for responsiveness */
    margin-bottom: 40px;
    text-align: center; /* Center align text inside items */
}

.service-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.service-item h3 {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

.service-item a {
    text-decoration: none;
}

.service-item:hover img {
    transform: scale(1.1); /* Increase the scale to 110% on hover */
}

.service-item:hover h3 {
    color: royalblue;
}

.learn-more-button {
    text-align: left; /* Align Learn More button to the left */
    font-size: 18px;
    margin-top: 20px;
    display: inline-block; /* Ensure it respects margins */
}

@media (max-width: 1024px) {
    .service-item {
        flex-basis: calc(50% - 20px); /* Adjust width for smaller desktops */
    }
}

@media (max-width: 768px) {
    .container-services {
        padding: 10px;
    }

    .service-item {
        flex-basis: calc(50% - 20px); /* Adjust width for tablets */
    }
}

@media (max-width: 576px) {
    .container-services {
        padding: 10px;
        margin: 60px 10px 100px 10px; /* Consistent margins for small screens */
    }

    .service-item {
        flex-basis: calc(100% - 20px); /* Adjust width for mobile devices */
    }

    .learn-more-button {
        font-size: 15px; /* Reduce font size for smaller screens */
    }
}
