.container-services {
    
    box-shadow: 0 4px 8px rgba(41, 41, 255, 0.5); /* Blue box shadow */
    padding: 20px; /* Optional padding */
    border-radius: 8px; /* Optional rounded corners */
    margin-left: 150px; /* Center element horizontally */
    margin-right: 150px; /* Center element horizontally */
    margin-bottom: 100px;
    margin-top: 60px;
}

body {
    background-color: black;
    color: white;
}

.heading {
    color: royalblue;
}

.services-section {
    text-align: center;
    padding: 40px;
    margin-bottom: 20px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service-item {
    flex-basis: calc(33.33% - 20px); /* Adjust width for responsiveness */
    margin-bottom: 40px;
}

.service-item img {
    max-width: 15%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.service-item h3 {
    color: black; /* Initial h3 color */
    text-decoration: none; /* Remove underline */
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

.service-item a {
    text-decoration: none; /* Remove underline from the link */
}

.service-item:hover img {
    transform: scale(1.1); /* Increase the scale to 110% on hover */
}

.service-item:hover h3 {
    color: royalblue; /* Change h3 color to royal blue on hover */
}


@media (max-width: 1024px) {
    .container-services {
        margin: 60px 50px 100px 50px; /* Adjust margins for smaller desktops */
    }

    .service-item {
        flex-basis: calc(50% - 20px); /* Adjust width for smaller desktops */
    }
}

@media (max-width: 768px) {
    .container-services {
        margin: 60px 20px 100px 20px; /* Adjust margins for tablets */
    }

    .service-item {
        flex-basis: calc(50% - 20px); /* Adjust width for tablets */
    }

    .see-all-button {
        font-size: 15px; /* Reduce font size for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .container-services {
        margin: 60px 10px 100px 10px; /* Adjust margins for mobile devices */
    }

    .service-item {
        flex-basis: calc(100% - 20px); /* Adjust width for mobile devices */
    }

    .see-all-button {
        font-size: 15px;
    }
}