.testimonial {
    text-align: center; /* Adjusted text alignment */
}

.testimonial p {
    text-align: justify; /* Justify text alignment */
    text-align: left; /* Align text to the left */
}

.heading-class {
    font-size: 24px;
    margin-top: 20px;
}

.description {
    margin-top: 10px;
}

.blocks {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 400px;
    padding: 0 10px;
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: transparent transparent; /* Color of the scrollbar track and thumb */
}

.blocks::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

.blocks::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
}

.blocks::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Border radius of the scrollbar thumb */
}

.block {
    flex: 0 0 23.2%; /* Each block takes 25% of the container's width */
    margin: 0 10px; /* Equal margin left and right */
    position: relative;
    border: 1px solid #ccc; /* Added border */
    border-radius: 5px; /* Added border radius */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box shadow */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.block p {
    margin-bottom: 10px;
    text-align: left; /* Align text inside block */
}

.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.name-company {
    position: relative;
    text-align: center; /* Center text inside name-company div */
}

.name,
.company {
    position: relative;
    z-index: 1;
    color: white;
    margin-top: 5px;
}

.block:nth-child(1)::after {
    content: '';
    border-top-left-radius: 0% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #cc4b52; /* Color for block 1 */
    height: 35%;
}

.block:nth-child(2)::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 0%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #6819cf; /* Color for block 2 */
    height: 35%;
}

.block:nth-child(3)::after {
    content: '';
    border-top-left-radius: 0% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #2a9c9c; /* Color for block 3 */
    height: 35%;
}

.block:nth-child(4)::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 0%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #3fad29; /* Color for block 4 */
    height: 35%;
}

.block:nth-child(5)::after {
    content: '';
    border-top-left-radius: 0% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #248b58; /* Color for block 5 */
    height: 35%;
}

.block:nth-child(6)::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 0%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #cf1974; /* Color for block 6 */
    height: 35%;
}

.block:nth-child(7)::after {
    content: '';
    border-top-left-radius: 0% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #6d6711; /* Color for block 7 */
    height: 35%;
}

.block:nth-child(8)::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 0%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #21a506; /* Color for block 8 */
    height: 35%;
}
/* Responsive Styles */
@media (max-width: 1024px) {
    .blocks {
        margin-bottom: 100px; /* Adjust bottom margin for smaller desktops */
    }

    .block {
        flex: 0 0 45%; /* Adjust width for smaller desktops */
        margin: 10px 5px; /* Adjust margins */
    }
}

@media (max-width: 768px) {
    .blocks {
        margin-bottom: 50px; /* Adjust bottom margin for tablets */
        padding: 0 20px; /* Add padding for left and right margins */
    }

    .block {
        flex: 0 0 45%; /* Adjust width for tablets */
        margin: 10px; /* Adjust margins for equal spacing */
    }

    .circle-image {
        width: 80px; /* Reduce image size for smaller screens */
        height: 80px;
    }
}

@media (max-width: 576px) {
    .blocks {
        margin-bottom: 30px; /* Adjust bottom margin for mobile devices */
        padding: 0 20px; /* Add padding for left and right margins */
    }

    .block {
        flex: 0 0 100%; /* Adjust width for mobile devices */
        margin: 10px 0; /* Equal margin between blocks */
    }

    .circle-image {
        width: 70px; /* Further reduce image size for mobile screens */
        height: 70px;
    }
}
