/* Original styles for large screens */
.value-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  
  .value-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1100px; /* adjust width as needed */
  }
  
  .value-heading {
    flex: 1;
    color: black;
  }
  
  .value-paragraph {
    flex: 1;
   
    color: black;
    text-align: justify;
  }
  
 
  
  /* Media query for small screens */
  @media screen and (max-width: 768px) {
    .value-wrapper {
      flex-direction: column;
      align-items: center;
      width: 90%; /* Adjust width for small screens */
      max-width: 600px; /* Max width for small screens */
      margin-left: 20px; /* Equal margin on left and right */
      margin-right: 20px; /* Equal margin on left and right */
    }
    .value-p{
      text-align: justify;
    }
  
    .value-heading,
    .value-paragraph {
      width: 100%;
      margin-left: 20px; /* Reset margin for small screens */
      text-align: justify;
      font-size: 14px; /* Adjust font size for small screens */
    }
  }